/* date */
.ui-calendar-date {
  border: none;
  box-shadow: none;
  border-collapse: separate;
  *border-collapse: collapse;
  border-spacing: 0;
}
table.ui-calendar-date tr {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}
.ui-calendar-date td, .ui-calendar-date th {
  width: 34px;
  height: 34px;
  line-height: 34px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  cursor: pointer;
}
.ui-calendar-date .ui-calendar-day-column {
  color: #888;
}
.ui-calendar-date .ui-calendar-day-column th {
  border-color: #868686;
  cursor: default;
}
.ui-calendar-date .ui-calendar-date-column .ui-calendar-day-0,
.ui-calendar-date .ui-calendar-date-column .ui-calendar-day-6 {
  color: #db693d;
}

.ui-calendar-date .ui-calendar-date-column td {
    border-radius: 50%;
}

.ui-calendar-date .ui-calendar-date-column td:hover {
  cursor: pointer;
  background-color: #ffe0e7;
  color: #d54969;
  -webkit-transition:background-color 0.2s linear;
}
.ui-calendar-date .ui-calendar-date-column td.previous-month,
.ui-calendar-date .ui-calendar-date-column td.next-month {
  color: #ccc;
  font-family: simsun;
}
.ui-calendar-date .ui-calendar-date-column td.previous-month:hover,
.ui-calendar-date .ui-calendar-date-column td.next-month:hover {
  cursor: default;
  border-color: #fff;
}
.ui-calendar-date .ui-calendar-date-column td.focused-element {
  color: #fff;
  background: #f34972;
  border-radius: 50%;
}

.ui-calendar-date .ui-calendar-date-column td.disabled-element {
  background: #e2e2e2;
  color: #c3c3c3;
}
.ui-calendar-date .ui-calendar-date-column td.disabled-element:hover {
  border-color: #fff;
}
